# Database
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# Firebase
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY="YOUR_PRIVATE_KEY_HERE"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@project.iam.gserviceaccount.com

# Root Owner
ROOT_OWNER_EMAIL=

# System
PENDING_USER_TTL_DAYS=30
NODE_ENV=production
PORT=3000
